<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Bus Information</h2>
            <div>
                <h5 th:text="${busInfo.stop1.name}"></h5>
                <tr th:each="time: ${busInfo.stop1.busTimes}">
                    <p>
                        Bus <td th:text="${time.busId}" /> due in 
                        <td th:text="${time.time}" /> min
                    </p>
                </tr>
                
                
                <h5 th:text="${busInfo.stop2.name}"></h5>
                <tr th:each="time: ${busInfo.stop2.busTimes}">
                    <p>
                        Bus <td th:text="${time.busId}" /> due in 
                        <td th:text="${time.time}" /> min
                    </p>
                </tr>
            </div>
        </div>
    </body>
</html>